/* Reset de estilos padrão */
body, h1, h2, h3, p, ul, li, form {
    margin: 1;
    padding: 0;
}

/* Estilização do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilização do container do formulário */
.container {
    max-width: 400px;
    background: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilização do título */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007BFF;
}

/* Estilização dos campos de entrada de texto e select */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilização do botão de cadastro */
button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background: #0056b3;
}

/* Estilo para o fundo do banco virtual */
.bank-background {
    background: url('bank-background.jpg') center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

/* Estilo para caixas de informações bancárias */
.bank-box {
    background: rgba(0, 123, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Estilo para o botão de login do banco virtual */
.bank-login-button {
    background: #fff;
    color: #007BFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.bank-login-button:hover {
    background: #f4f4f4;
    color: #007BFF;
}
